<div>

  <b>What is Angular CLI?</b>
  <br />
  The Angular CLI is a tool for managing, building, maintaining, and testing your Angular projects. CLI is an acronym for Command Line Interface. Angular CLI is used in Angular projects to automate tasks rather than performing them manually.
  <br />
  <br />

  <br />
  <ul>
    <b>Some of the things you can use Angular CLI for include.</b>
    <li>   Environment Setup and Configurations  </li>
    <li>   Developing components and building services </li>
    <li>   Beginning, testing and launching a project </li>
    <li>   Installation of 3rd party libraries such as Sass and Bootstrap </li>
  </ul>
  <br />
  <ul>
    <b>Software Requirements</b>
    <li>A newer version of AngularJS is required </li>
    <li>  A newer version of Nodejs is required.</li>
  </ul>

  <table style="border:solid">
    <thead style="background-color:aliceblue;">
      <tr>
        <th>Command</th>
        <th>Alias</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><a href="cli/add"><code>add</code></a></td>
        <td></td>
        <td>
          <p>Adds support for an external library to your project.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/analytics"><code>analytics</code></a></td>
        <td></td>
        <td>
          <p>Configures the gathering of Angular CLI usage metrics.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/build"><code>build</code></a></td>
        <td><code>b </code></td>
        <td>
          <p>Compiles an Angular application or library into an output directory named dist/ at the given output path.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/cache"><code>cache</code></a></td>
        <td></td>
        <td>
          <p>Configure persistent disk cache and retrieve cache statistics.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/completion"><code>completion</code></a></td>
        <td></td>
        <td>
          <p>Set up Angular CLI autocompletion for your terminal.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/config"><code>config</code></a></td>
        <td></td>
        <td>
          <p>Retrieves or sets Angular configuration values in the angular.json file for the workspace.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/deploy"><code>deploy</code></a></td>
        <td></td>
        <td>
          <p>Invokes the deploy builder for a specified project or for the default project in the workspace.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/doc"><code>doc</code></a></td>
        <td><code>d </code></td>
        <td>
          <p>Opens the official Angular documentation (angular.io) in a browser, and searches for a given keyword.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/e2e"><code>e2e</code></a></td>
        <td><code>e </code></td>
        <td>
          <p>Builds and serves an Angular application, then runs end-to-end tests.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/extract-i18n"><code>extract-i18n</code></a></td>
        <td></td>
        <td>
          <p>Extracts i18n messages from source code.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/generate"><code>generate</code></a></td>
        <td><code>g </code></td>
        <td>
          <p>Generates and/or modifies files based on a schematic.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/lint"><code>lint</code></a></td>
        <td></td>
        <td>
          <p>Runs linting tools on Angular application code in a given project folder.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/new"><code>new</code></a></td>
        <td><code>n </code></td>
        <td>
          <p>Creates a new Angular workspace.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/run"><code>run</code></a></td>
        <td></td>
        <td>
          <p>Runs an Architect target with an optional custom builder configuration defined in your project.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/serve"><code>serve</code></a></td>
        <td><code>s </code></td>
        <td>
          <p>Builds and serves your application, rebuilding on file changes.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/test"><code>test</code></a></td>
        <td><code>t </code></td>
        <td>
          <p>Runs unit tests in a project.</p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/update"><code>update</code></a></td>
        <td></td>
        <td>
          <p>
            Updates your workspace and its dependencies. See
            <a href="https://update.angular.io/">https://update.angular.io/</a>.
          </p>
        </td>
      </tr>

      <tr>
        <td><a href="cli/version"><code>version</code></a></td>
        <td><code>v </code></td>
        <td>
          <p>Outputs Angular CLI version.</p>
        </td>
      </tr>

    </tbody>
  </table>

</div>
